dataclasses_json
datalad>=0.18
datalad-metadata-model>=0.3.10
pytest
pyyaml
six

# Documentation building
sphinx==5.3.0
sphinx-rtd-theme

# Testing and package building
build
coverage
mypy
pytest-cov
twine

# required for extractor tests
ExifRead
Pillow
mutagen
python-xmp-toolkit
