.

datalad>=0.14
nose
sphinx>=1.7.8
sphinx-rtd-theme
pyyaml

# For now, load the metadata model from github.
# Remove click and dataclasses once the metadata model distribution is on pypi
click
dataclasses
git+https://github.com/christian-monch/metadata-model.git@alpha7#egg=datalad-metadata-model
